# General App Requirements

# Py3 Compat
six==1.12.0

# Asynchronous framework
tornado==5.1.1

# Our custom rest client
tornado_rest_client==0.0.4

# Used to make synchronous tasks asynchronous
futures==3.1.1

# Used to parse out the JSON and validate its format.
simplejson==3.16.0
jsonschema==3.0.1
jsonpickle==1.2
demjson==2.2.4
PyYAML==5.1.1

# Colorize the log output!
rainbow_logging_handler==2.2.2

# Used for retrying non-asynchronous methods
retrying==1.3.3

# kingpin.actors.rightscale
#
# NOTE: Version specified in the setup.py file
# NOTE: mock is used inside the rightscale actor
# NOTE: python-rightscale requires ConfigParser but it is not in the requirements file
python-rightscale @ https://github.com/Nextdoor/python-rightscale-1/tarball/python3#egg=python-rightscale-0.1.7
mock==1.0.1

# kingpin.actors.aws
# kingpin.actors.aws.ecs
# kingpin.actors.aws.cloudformation
boto3==1.9.194
ec2-metadata==2.0.0

# Used to turn snake_case into CamelCase
inflection==0.3.1
